@import url("https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/inter@5.0.12/latin.css");

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #ffffff;
  color: #000000;
}

svg text {
  font-family: "Inter", sans-serif;
}
